<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>761294934750-gfvtduk2jpjuk23o07j91brueu4bsngt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.761294934750-gfvtduk2jpjuk23o07j91brueu4bsngt</string>
	<key>API_KEY</key>
	<string>AIzaSyDvhbSPBoiiG8_rES8NOZu79NkKdikuSiM</string>
	<key>GCM_SENDER_ID</key>
	<string>761294934750</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.faisalarip.chatku</string>
	<key>PROJECT_ID</key>
	<string>chatku-617a6</string>
	<key>STORAGE_BUCKET</key>
	<string>chatku-617a6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:761294934750:ios:486121bb0cefb2bdc2684f</string>
	<key>DATABASE_URL</key>
	<string>https://chatku-617a6.firebaseio.com</string>
</dict>
</plist>
